# Terraform files
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
.terraform.lock.hcl

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Lambda build directory
build/

# Python virtual environment
.venv/


